
.pomodoro-clock-header {
  text-align: center;
  margin-top: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.pomodoro-clock-header-name {
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  padding: 0px 10px;
  background-color: #c70074;

}

.pomodoro-clock-header-name::before {
  content: '';
  height: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-top: 1px solid #c70074;
  border-bottom: 1px solid #fff;
  z-index: -1;
  

}

@media (min-width: 768px) {
  .pomodoro-clock {
    width: 768px;
    margin: 0 auto;
    background-color: #e951663d;

    
  }
  .pomodoro-clock-header-name::before {
    top: 50%;
    left: -50%;
    width: 200%;

  }
}

/* Botones controladores */

.controller {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  margin-top: 15px;
  
}

.controller button {
  font-size: 1.1rem;
  font-weight: 700;
  background-color: #c70074;
  background-color: transparent;
  border-radius: 6px;
  outline: none;
  width: 85px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  margin: 15px;
  text-transform: uppercase;
}

.controller button:hover {
  cursor: pointer;
  background-color: #c70074;
  
}

/* Controlador tiempo */

.settings {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  margin-top: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  
}

.settings-section {
  text-align: center;
}

.settings-section label {
  font-weight: 700;
}

.settings-section button {
  font-size: 1.1rem;
  font-weight: 700;
  background-color: #c70074;
  background-color: transparent;
  border-radius: 6px;
  outline: none;
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
}

.settings-section button:not(.disable):hover {
  cursor: pointer;
  background-color: #c70074;
}

.settings-section button.disable {
  opacity: 0.5;
  cursor: not-allowed;
}

.settings-section span {
  width: 45px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  color: #444;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.1rem;
}

/* tiempo */
.times {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.times-content {
  display: inline-block;
  margin: 0 auto;
  width: 280px;
  height: 280px;
  margin-top: 25px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid #c70074;;
  border-radius: 50%;
}

#timer-label {
  font-size: 1.5rem;
  font-weight: 700;
}

#time-left {
  font-size: 5rem;
  font-weight: 700;
}

